.footer{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    left: 0;
    /* margin-left: 100px !important;
    margin-right: 100px !important; */
    z-index: 99;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    /* color: rgba(0, 0, 0); */
    color: rgba(0, 0, 0, 0.85);
    padding: 5px 0px 0px 0px;
    font-size: 12px;
}