* {
  color: #303443;
}

.error {
  color: red;
}

.wrapper {
  display: block;
  /* position: relative; */
}

/* Asif */

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #303443 !important;
}

.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: #f7f7f8;
  border-radius: 10px;
}

/* .field:hover {
  box-shadow: -1px -1px 2px 2px #87cefa;
} */

.field span {
  width: 40px;
  line-height: 45px;
}

.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.field-label {
  text-align: left !important;
  /* display: flex !important; */
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.p-text {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.h-text {
  font-family: "Poppins", sans-serif !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}

input[type="submit"] {
  background: #8d131e;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

/* Checkbox style start */

.remember-me-checkbox {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remember-me-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.remember-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
}
.remember-me-checkbox input:checked ~ .remember-checkmark {
  background-color: #8d131e;
  border: 1px solid #8d131e;
  border-radius: 6px;
}

.remember-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.remember-me-checkbox input:checked ~ .remember-checkmark:after {
  display: block;
}

.remember-me-checkbox .remember-checkmark:after {
  left: 6px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* 
input[type="checkbox"] {
  position: relative;
  top: 2px;
  width: 18px;
  height: 18px;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
}

input[type="checkbox"]::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border-style: solid;
  border-color: white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

input[type="checkbox"]:checked {
  color: white;
  border-color: #8d131e;
  background: #8d131e;
}

input[type="checkbox"]::before {
  opacity: 1;
} */

.remember-label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  /* padding: 0.25em 0.25em; */
  user-select: none;
  margin-top: 2px;
  margin-left: 15px;
}

/* .remember-label::before {
    position: absolute;
    content: attr(data-content);
    color: lightgray;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: black;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
} */

/* Checkbox style end */

.login-cover-img {
  /* width: 70%; */
  width: 100%;
  height: 100%;
  background: url(../../../assets/images/cover-img.svg);
  background-repeat: no-repeat;
  border-radius: 30px;
  background-size: 100% 100%;
  background-position: center;
}

.show {
  /* position: absolute; */
  right: 10;
  font-size: 18px;
  font-weight: 700;
  color: #808080;
  cursor: pointer;
  /* font-family: "Montserrat", sans-serif; */
}

.forgot-pass:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sign-up-link {
  color: #8d131e !important;
  text-decoration: underline;
  cursor: pointer;
}

.version-text {
  font-style: italic;
  font-size: 10px;
  margin-left: 20px;
}

.login-btn {
  background-color: #8d131e;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
  height: 48px;
  width: 100%;
}

.tmm-btn {
  color: white;
  border: 2px solid #8d131e;
}

.login-btn:hover {
  background-color: white;
  color: black;
}

.login-btn-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .hide-image {
    display: none !important;
  }
}

.c-input-field:focus {
  border-color: yellow;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
  box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
}



/* language -chnage */

select {
  border: none;
  background: #f8f9fa;
}

.login-select-div {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-right: 13%;
  margin-left: 13%;
  /* margin-top: -4px; */
  /* padding-bottom: 10px !important; */
}

/* .arab-select-div{
  display: inline-block;
  position: absolute;
  margin-right: 13%;
} */


/* .select-div {
  display: inline-block;
  position: absolute;
  padding-top: 2%;
  margin-left: 13%;
} */