/* pollab */
.main-content {
  width: 100%;
}


.title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}

.sub-title {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.error {
  color: red;
}

/* Asif */

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: #f7f7f8;
  border-radius: 10px;
}
/* .field:hover {
  box-shadow: -1px -1px 2px 2px #87cefa;
} */

.field span {
  width: 40px;
  line-height: 45px;
}

.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.field-label {
  text-align: left !important;
  display: flex !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.p-text {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.h-text {
  font-family: 'Poppins', sans-serif !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}

input[type='submit'] {
  background: #8d131e;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

/* input[type="submit"]:hover {
  background: #2691d9;
}
 */
.forgot-password-img {
  /* width: 70%; */
  width: 100%;
  height: 100%;
  background: url(../../../assets/images/forgot-password-img.svg);
  background-repeat: no-repeat;
  border-radius: 30px;
  background-size: 100% 100%;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .content-hide {
    display: none;
  }
}



@media screen and (max-width: 1024px) {
  .hide-image {
    display: none !important;
  }
}

select {
  border: none;
  background: #f8f9fa;
}

.forget-select-div {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-right: 13%;
  margin-left: 13%;
  /* margin-top: -4px; */
  /* padding-bottom: 10px !important; */
}